@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-VariableFont_wght.ttf");

}

@font-face {
    font-family: "Unbounded";
    src: url("fonts/Unbounded-VariableFont_wght.ttf");

}

.main {
    display: flex;
    position: relative;
    background-color: #fff;

}

.header {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #CACACA;

}

.title-header {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .main-title {
        font-size: 45px;
        color: #000;
        font-weight: bold;
        font-family: "Unbounded";
    }

    .main-title-bg {
        color: #59DD59;
    }

    .main-title-sm {
        margin-left: 10px;
        font-size: 24px;
        font-family: "Montserrat";
        font-weight: 400;
    }
}


.aside {
    width: 250px;
    height: 100%;
    border-right: 1px solid #CACACA;
    transition: width .3s ease;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin-top: 20px;
        width: 200px;
        height: 85px;
    }

    .aside__content {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .aside__menu {
            display: flex;
            flex-direction: column;
            gap: 41px;


            .aside-button {
                background-color: transparent;
                border: none;
                color: #949494;
                font-family: "Montserrat";
                font-size: 24px;
                padding: 18px 21px;
            }

            .aside-button:hover {
                background-color: #F8F8F8;
                color: #59DD59;
                border-radius: 21px;
            }

            .aside-button--active {
                background-color: #F8F8F8;
                color: #59DD59;
                border-radius: 21px;
            }
        }

        .aside__exit {
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .aside-button {
                background-color: transparent;
                border: none;
                color: #949494;
                font-family: "Montserrat";
                font-size: 24px;
                padding: 18px 21px;
            }

            .aside-button:hover {
                background-color: #F8F8F8;
                color: #59DD59;
                border-radius: 21px;
            }

            .aside-button--active {
                background-color: #F8F8F8;
                color: #59DD59;
                border-radius: 21px;
            }
        }

    }

}


.aside.collapsed {
    width: 0;
    padding: 0;
    overflow: hidden;
    border: none;
    transition: width .3s ease;
}


.toggle-btn {
    position: absolute;
    left: 235px;
    top: 50%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid #CACACA;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left .3s ease;
}


.toggle-btn::before {
    content: "◀";
    font-size: 18px;
    color: #59DD59;
}


.aside.collapsed + .toggle-btn {
    left: 10px;
}

.aside.collapsed + .toggle-btn::before {
    content: "▶";
}


.access__content {
    flex: 1;
    padding: 40px;


    .access-title {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        font-family: "Unbounded";
        font-size: 36px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 100px;

        span {
            color: #59DD59;
        }
    }

    .access__cards {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 55px;

        .access__card {
            padding: 130px 80px;
            border: 1px solid #CACACA;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            img {
                width: 80px;
                height: 80px;
            }
        }

        .access__card:hover {
            transform: translateY(-8px) ;
            box-shadow: 0 10px 25px rgba(89, 221, 89, 0.35);
            cursor: pointer;
        }
    }
}

